
@{
    ViewBag.Title = "Calendar";
}


<h2>Calendar</h2>

<h3>Select Runner</h3>
@Html.DropDownList("user", new SelectList(ViewBag.users, "ID", "DisplayName", ViewBag.user), new { @class = "form-control", name = "user" })

<br />

<div id='calendar'></div>


@section scripts{
    <script>
        var userID = document.getElementById("user").value;

        $(function () {
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                header:
                {
                    left: window.mobilecheck() ? 'prev, next' : 'prev, next, today',
                    center: 'title',
                    right: window.mobilecheck() ? "month,agendaDay" : 'month,agendaWeek,agendaDay'
                },
                buttonText: {
                    today: 'today',
                    month: 'month',
                    week: 'week',
                    day: 'day'
                },
                events: "/Calendar/GetEvents?id=" + userID,
                dayClick: function (date, jsEvent, view) {
                    
                },
                eventRender: function (event, element, view) {
                    if (event.type == "run") {
                        element.css('background-color', '#ffc107');
                        element.css('border-color', '#ffc107');
                        element.css('color', '#000');
                    } else if (event.type == "meet") {
                        element.css('background-color', '#dc3545');
                        element.css('border-color', '#dc3545');
                        element.css('color', '#fff');
                        return true;
                    }
                    return event.userId == userID;
                    
                },
            });
        });

        $("#user").change(function () {
            userID = document.getElementById("user").value;
            $('#calendar').fullCalendar('rerenderEvents');
        });

        $(function () {
            var element = document.getElementById("ActiveCal");
            element.classList.add("active");
        });
    </script>
}

