
@{
    ViewBag.Title = "AddPlan";
}

<h2>Add Plan</h2>

<br />


<h3>Week Of Date</h3>
<div class="container">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="input-group date" id="datetimepicker12" data-target-input="nearest">
                <input id="dateTimePicker" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker12" onchange="changeDate()" value="@ViewBag.monday.ToString("MM/dd/yyyy")" />
                <div class="input-group-append" data-target="#datetimepicker12" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
            $(function () {
                $('#datetimepicker12').datetimepicker({
                    format: 'L',
                    daysOfWeekDisabled: [0, 2, 3, 4, 5, 6],
                    defaultDate: @ViewBag.monday.ToString("MM/dd/yyyy"),
                    useCurrent: false
                });
                $('#datetimepicker12').on('dp.change', function () {
                    alert("change");
                });
            });
    </script>
</div>

<div class="form-group">
    <h3>Plan</h3>
    <div class="col-md-10">
        <textarea id="FullDescription" class="form-control"></textarea>
    </div>
</div>

<button type="submit" class="btn btn-danger" onclick="save()">Submit</button>

@section scripts{
    <script src="~/Themes/ckeditor/ckeditor.js"></script>

    <script>
        CKEDITOR.replace("FullDescription");
        
        plan = unescape("@ViewBag.plan");
        CKEDITOR.instances.FullDescription.setData(plan);

        function save() {
            var date = $("#dateTimePicker").val();
            var plan = escape(CKEDITOR.instances.FullDescription.getData());
            var id = getUrlParameter('id');

            $.ajax({
                url: "/Admin/UpdatePlan",
                data: {"ID": id, "Date": date, "Plan": plan },
                method: "POST",
                async: false,
                success: function () {
                    location.href = "/Home";
                },
                error: function () {
                    alert("An error occured");
                }
            });
        }
    </script>
}