
@{
    ViewBag.Title = "Weekly Plans";
}

<h2>Weekly Plans</h2>

<br />

<table id="dataTable" class="table table-dark table-hover table-bordered">
    <thead>
        <tr>
            <th>Week Of</th>
            <th><button type="button" class="btn btn-danger" onclick="add()" style="float:right;">Add Weekly Plan</button></th>
        </tr>
    </thead>
    <tbody>
        @{ int count = 0;}
        @foreach (var plan in ViewBag.WeeklyPlans)
        {
            <tr>
                <td data-order="@count">@plan.WeekOf.ToString("dddd, dd MMMM")</td>
                <td><button type="button" class="btn btn-warning" onclick="edit(@plan.ID)" style="float:right;">Edit Weekly Plan</button></td>
            </tr>
            count += 1;
        }
    </tbody>
</table>


@section Scripts {
    <script>
        function add() {
            window.location = '/Admin/AddPlan';
        }
        function edit(id) {
            window.location = '/Admin/EditPlan?id=' + id;
        }
        $(document).ready(function () {
            $('#dataTable').DataTable({
                "order": [],
                "columnDefs": [
                    { "orderable": false, "targets": 1 }
                ]
            });
        });
    </script>
}