
@{
    ViewBag.Title = "Home";
}
<br />
<div class="row">
    <h2 class="col">Home Page</h2>
    <div class="col"><button type="submit" class="btn btn-danger" onclick="oldPlans()" style="float: right;">Older Plans</button></div>
</div>
<style>
    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
    }

        .active, .accordion:hover {
            background-color: #ccc;
        }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
</style>
<!--
@foreach (var plan in ViewBag.WeeklyPlans)
{
    <button class="accordion">Week of @plan.WeekOf.ToString("dddd, dd MMMM")</button>
    <div class="panel">
        @{var week = HttpUtility.UrlDecode(plan.WeekPlan);}
        @week
    </div>
}
    -->
<hr />

<div id="weeklyPlan" style="overflow-wrap: break-word;">

</div>

@section Scripts {
    <script>
        var weeklyplay = "@ViewBag.WeeklyPlans[0].WeekPlan";
        document.getElementById("weeklyPlan").innerHTML = unescape(weeklyplay);


        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
            });
        }

        function oldPlans() {
            window.location = '/Home/oldPlans';
        }
    </script>
}