
@{
    ViewBag.Title = "Home";
}
<br />
<div class="row">
    <h2 class="col">Home Page</h2>
    <div class="col"><button type="submit" class="btn btn-danger" onclick="oldPlans()" style="float: right;">Older Plans</button></div>
</div>

<hr />

<div id="weeklyPlan" style="overflow-wrap: break-word;">

</div>

@section Scripts {
    <script>
        var weeklyplay = "@ViewBag.WeeklyPlans.WeekPlan";
        document.getElementById("weeklyPlan").innerHTML = unescape(weeklyplay);

        function oldPlans() {
            window.location = '/Home/oldPlans';
        }
    </script>
}