
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("UserLogin", "Home", FormMethod.Post))
{
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="text" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

    <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active">
            <input type="checkbox" name='rememberMe' checked><i class="fa fa-square-o fa-2x"></i><i class="fa fa-check-square-o fa-2x"></i> <span> Remember Me</span>
        </label>
    </div>

    <button class="btn btn-lg btn-danger btn-block" type="submit">Sign in</button>
}

