
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

@using (Html.BeginForm("UpdatePassword", "Home", FormMethod.Post))
{
<div class="container">

    <h3>Password</h3>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="" autofocus="">

    <br />

    <h3>Confirm Password</h3>
    <label for="inputCPassword" class="sr-only">Confirm Password</label>
    <input name="cpassword" type="password" id="inputCPassword" class="form-control" placeholder="Confrim Password" required="">

    <br />

    <button class="btn btn-lg btn-danger btn-block" type="submit">Submit</button>
</div>
}